.StatusBody {
  display: flex;
  flex-direction: column;

  .emoji {
    --_still_image-label-scale: 0.5;
  }

  .attachments {
    margin-top: 0.5em;
  }

  & .text,
  & .summary {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-wrap: pretty;
    line-height: var(--post-line-height);
  }

  .summary {
    display: block;
    font-style: italic;
    padding-bottom: 0.5em;
  }

  .text {
    &.-single-line {
      white-space-collapse: collapse;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 1.4em;
    }
  }

  .summary-wrapper {
    margin-bottom: 0.5em;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: var(--border);
    flex-grow: 0;

    &.-tall {
      position: relative;

      .summary {
        max-height: 2em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .text-wrapper {
    position: relative;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;

    &.-tall-status {
      z-index: 1;

      &:not(.-hidden) {
        height: 16em;
      }

      .media-body {
        min-height: 0;
        mask:
          linear-gradient(to top, white, transparent) bottom/100% 8em no-repeat,
          linear-gradient(to top, white, white);

        /* Autoprefixed seem to ignore this one, and also syntax is different */
        /* stylelint-disable mask-composite */
        /* stylelint-disable declaration-property-value-no-unknown */
        /* stylelint-disable scss/declaration-property-value-no-unknown */

        /* TODO check if this is still needed */
        mask-composite: xor;
        /* stylelint-enable scss/declaration-property-value-no-unknown */
        /* stylelint-enable declaration-property-value-no-unknown */
        /* stylelint-enable mask-composite */
        mask-composite: exclude;
      }
    }

    &.-expanded {
      overflow: visible;
    }
  }

  &.-single-line {
    .summary-wrapper {
      display: inline-block;
      margin: 0;
      padding: 0;
      border: none;

      .summary {
        padding: 0;
      }
    }

    .text-wrapper {
      display: inline-flex;
    }
  }

  & .tall-status-hider,
  & .tall-subject-hider,
  & .status-unhider,
  & .cw-status-hider {
    display: inline-block;
    overflow-wrap: break-word;
    text-wrap: pretty;
    width: 100%;
    text-align: center;
    margin: 0.1em 0;
  }

  .status-unhider {
    margin-top: auto;
    position: sticky;
    bottom: 0;
    padding-bottom: 1em;
  }

  .tall-subject-hider {
    // position: absolute;
    padding-bottom: 0.5em;

    &:not(.cw-status-hider) {
      position: absolute;
      margin-top: 10em;
      height: 5em;
      line-height: 8em;
      z-index: 2;
    }
  }

  & .status-unhider,
  & .cw-status-hider {
    overflow-wrap: break-word;
    text-wrap: pretty;

    svg {
      color: inherit;
    }
  }

  .toggle-button {
    padding: 0.5em;
  }

  &.-compact {
    align-items: start;
    flex-direction: row;

    & .body,
    & .attachments {
      max-height: 3.25em;
    }

    .body {
      overflow: hidden;
      white-space: normal;
      min-width: 5em;
      flex: 5 1 auto;
      mask-size: auto 3.5em, auto auto;
      mask-position: 0 0, 0 0;
      mask-repeat: repeat-x, repeat;
      mask-image: linear-gradient(to bottom, white 2em, transparent 3em);

      /* Autoprefixed seem to ignore this one, and also syntax is different */
      /* stylelint-disable mask-composite */
      /* stylelint-disable declaration-property-value-no-unknown */
      /* stylelint-disable scss/declaration-property-value-no-unknown */

      /* TODO check if this is still needed */
      mask-composite: xor;
      /* stylelint-enable scss/declaration-property-value-no-unknown */
      /* stylelint-enable declaration-property-value-no-unknown */
      /* stylelint-enable mask-composite */
      mask-composite: exclude;
    }

    .attachments {
      margin-top: 0;
      flex: 1 1 0;
      min-width: 5em;
      height: 100%;
      margin-left: 0.5em;
    }

    .summary-wrapper {
      .summary::after {
        content: ": ";
      }

      line-height: inherit;
      margin: 0;
      border: none;
    }

    .text-wrapper {
      display: inline-block;
      width: 100%;
    }
  }
}
