.vertical-tab-switcher {
  display: flex;
  flex-direction: row;

  > .tabs {
    flex: 0 0 auto;
    flex-direction: column;
    overflow: hidden auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 15em;
    border-right: 1px solid;
    border-right-color: var(--border);

    > .menu-item {
      padding: 0.5em 1em;

      .tab-icon {
        vertical-align: middle;
        margin-right: 0.75em;
      }
    }
  }

  > .contents {
    flex: 1 1 auto;
    overflow-x: hidden;

    .tab-content {
      align-self: center;

      &:not(.-full-width) {
        width: 30em;
      }

      &.-full-width {
        align-self: stretch;
      }
    }

    .tab-content-wrapper {
      display: flex;
      flex-direction: column;

      .tab-content-label {
        font-size: 1.5em;
        padding: 0.5em 1em;
        margin: 0;
        border-bottom: 1px solid var(--border);
      }

      &.-hidden {
        display: none;
      }

      &.-full-height:not(.-hidden) {
        height: 100%;
        display: flex;
        flex-direction: column;

        > *:not(.tab-content-label) {
          flex: 1;
        }
      }
    }
  }

  &.-nav-mode {
    &.-nav-tabs {
      > .tabs {
        width: 100%;
      }

      > .nav-content {
        width: 0%;
      }
    }

    &.-nav-content {
      > .tabs {
        position: absolute;
        pointer-events: none;
        opacity: 0;
      }

      > .nav-content {
        width: 100%;
      }
    }
  }
}
