.EmojiTab {
  .setting-list {
    padding-left: 0.75em;
  }

  .toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    .header-buttons {
      display: flex;
      flex: 1 0 auto;
      justify-content: end;

      &:not(.btn-group) {
        gap: 0.5em;
      }

      .header-text {
        flex: 1 0 auto;
      }
    }

    .button-default {
      flex: 0 0 auto;
      padding: 0.5em;
      font-size: 1rem;
    }
  }

  .selector-buttons,
  .meta-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  h5 {
    margin-top: 1em;
    margin-bottom: 0.25em;
  }

  h3.toolbar {
    align-items: end;
  }

  .emoji-info-input {
    width: 100%;
  }

  .emoji-data-input {
    width: 40%;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .emoji {
    width: 2em;
    height: 2em;
  }

  .emoji-unsaved {
    box-shadow: 0 3px 5px var(--cBlue);
  }

  .emoji-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .placeholder {
      background: var(--textFaint);
      border-radius: 0.5em;
      width: 2em;
      height: 2em;
      opacity: 0.5;
    }
  }
}

.emoji-tab-popover-button:not(:first-child) {
  margin-left: 0.5em;
}

.emoji-tab-popover-input {
  margin-bottom: 0.5em;

  label {
    display: block;
    margin-bottom: 0.5em;
  }

  input {
    width: 20em;
  }

  .emoji-tab-popover-file {
    padding-top: 3px;
  }

  .warning {
    color: var(--cOrange);
  }
}
