.LinksTab {
  // awkward "disable = false" backend options
  .weird-options {
    .checkbox {
      margin: 0;
    }
  }

  .setting-list.suboptions.weird-suboptions {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0;

    li {
      margin: 0;
      display: flex;
    }

    .GroupSetting {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }
}
