.user-tab {
  height: 100%;
}

.stacked-container {
  /* vite:stylelint complains about this, saying it's not important.
  this is a mistake: it is important, so vite:stylelint should shut up */
  display: flex !important;
  flex-direction: column;
}
