.UsersTab {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  .filters-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    gap: 0.5em 1em;

    > div {
      flex: 0 1 auto;
    }

    .filter {
      display: block;
      margin-bottom: 0.5em;
      min-width: 14em;

      .query-label {
        margin-bottom: 0.5em;
      }

      > input {
        width: 100%;
      }
    }
  }
}
