.UsersTab {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;

  h3 {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .splitter {
    max-height: 100%;
    display: flex;
    overflow-y: hidden;
  }

  .filters-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-right: 1px solid var(--border);
    padding: 0 1em;
    margin-right: 1em;

    > div {
      flex: 0 1 auto;
    }

    .filter {
      display: block;
      min-width: 14em;

      .query-label {
        margin-bottom: 0.5em;
      }

      > input {
        width: 100%;
      }
    }
  }

  .users-list {
    flex: 1 0 30em;
  }
}
