.profile-tab {
  // overriding global for better look
  .setting-section.profile-edit {
    margin: 0;

    h2 {
      margin-left: 1rem;
    }

    .user-card {
      padding: 1.2em;
      overflow: hidden;
    }
  }
}
