.profile-tab {
  // overriding global for better look
  .setting-section.profile-edit {
    margin: 0;

    h2 {
      margin-left: 1rem;
    }

    .user-card {
      padding: 1.2em;
      overflow: hidden;
    }

  }

  .setting-item {
    .custom-boolean-setting {
      display: grid;
      grid-template-columns: subgrid;

      .label {
        grid-area: label;
        text-align: right;
      }

      .-mobile & {
        .label {
          text-align: left;
        }
      }

      .checkbox-indicator {
        grid-area: control;
      }
    }
  }
}
