.UserTimedFilterModal {
  .input-dont-ask-again {
    margin-left: 1em;
  }

  .input-expire-at {
    margin-left: 0.25em;
  }

  .footer-left-checkbox {
    width: max-content;
  }

  .expirationTime {
    display: inline-flex;
    white-space: nowrap;
    padding: 0.5em;
  }

  .dialog-modal-content .checkbox {
    vertical-align: middle;
    padding: 0.5em;
  }
}
