@use "../../mixins";

.StatusActionButtons {
  .quick-action-buttons {
    display: grid;
    margin-left: -0.5em;
    grid-template-columns: repeat(auto-fill, minmax(3.5em, 10%));
    grid-auto-flow: row dense;
    grid-auto-rows: 1fr;
    grid-gap: 0.5em 0.1em;
    margin-top: var(--status-margin);
  }

  .pin-action-button {
    display: flex;
    z-index: 1;
    padding: 0.5em;
    margin: 0;
  }
}
// popover
.extra-action-buttons {
  .extra-action {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
}
